.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 70px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  max-width: calc(100% - 20px);
}

.header {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: center;
  width: 90%;
}

.right {
  align-items: center;
  display: flex;
  width: auto;
}

.right svg {
  padding: 0px 10px;
}

.user li {
  border: 1px solid #f3f3f3;
  padding: 10px;
  list-style: none;
}

.user-item {
  display: flex;
}

.user-item img {
  border-radius: 50%;
  padding: 0 20px;
  height: 100px;
  width: 100px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details p {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 5px;
}

.foot {
  color: #fff;
  background-color: #ee6e73;
  padding: 10px;
  margin-bottom: 0;
}
